#header h1 {
  -webkit-animation: rotation 8s infinite linear;
  animation: rotation 8s infinite linear; }
  @media (min-width: 768px) {
    #header h1 {
      -webkit-animation-delay: 3.2s;
      animation-delay: 3.2s; } }

#header .banner-char {
  width: 20%;
  cursor: pointer; }

#header .fairy-slide {
  -webkit-animation: slideInDown 3s;
  animation: slideInDown 3s; }

#header .king-slide {
  -webkit-animation: slideInDown 3.5s;
  animation: slideInDown 3.5s; }

#header .princess-slide {
  -webkit-animation: slideInDown 2s;
  animation: slideInDown 2s; }

#header .witch-slide {
  -webkit-animation: slideInDown 1.8s;
  animation: slideInDown 1.8s; }

#header .apple-slide {
  -webkit-animation: slideInDown 2.2s;
  animation: slideInDown 2.2s; }

#header .gnome-slide {
  -webkit-animation: slideInDown 2.6s;
  animation: slideInDown 2.6s; }

#header .rabbit-slide {
  -webkit-animation: slideInDown 1s;
  animation: slideInDown 1s; }

#header .castle-slide {
  -webkit-animation: slideInDown 2s;
  animation: slideInDown 2s; }

#header .wobble {
  -webkit-animation: wobble 2s;
  animation: wobble 2s; }

#header .tada {
  -webkit-animation: tada 1s;
  animation: tada 1s; }

#header .bounce {
  -webkit-animation: bounce 1.5s;
  animation: bounce 1.5s;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom; }

#header .swing {
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation: swing 1s;
  animation: swing 1s; }

#header .jello {
  -webkit-animation: jello 1s;
  animation: jello 1s;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center; }

#header .heartBeat {
  -webkit-animation-name: heartBeat;
  animation-name: heartBeat;
  -webkit-animation-duration: 1.3s;
  animation-duration: 1.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out; }

#header .rubberBand {
  -webkit-animation: rubberBand 1s;
  animation: rubberBand 1s; }

#header .shake {
  -webkit-animation: shake 1.5s;
  animation: shake 1.5s; }

.tgl {
  display: none; }
  .tgl, .tgl:after, .tgl:before,
  .tgl *,
  .tgl *:after,
  .tgl *:before,
  .tgl + .tgl-btn {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection,
    .tgl *::-moz-selection,
    .tgl *:after::-moz-selection,
    .tgl *:before::-moz-selection,
    .tgl + .tgl-btn::-moz-selection {
      background: none; }
    .tgl::selection, .tgl:after::selection, .tgl:before::selection,
    .tgl *::selection,
    .tgl *:after::selection,
    .tgl *:before::selection,
    .tgl + .tgl-btn::selection {
      background: none; }
  .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
      position: relative;
      display: block;
      content: "";
      width: 50%;
      height: 100%; }
    .tgl + .tgl-btn:after {
      left: 0; }
    .tgl + .tgl-btn:before {
      display: none; }
  .tgl:checked + .tgl-btn:after {
    left: 50%; }

.tgl-light + .tgl-btn {
  background: #f0f0f0;
  border-radius: 2em;
  padding: 2px;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease; }
  .tgl-light + .tgl-btn:after {
    border-radius: 50%;
    background: #fff;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease; }

.tgl-light:checked + .tgl-btn {
  background: #4c4b49; }

#motto img {
  margin-top: -50px; }

#motto p {
  font-size: 1.8rem; }

.js--aggeliki,
.js--aleksandros,
.js--whatHeader,
.js--mottoHeader,
.js--galleryPhotos,
.js--subscribeHeader,
.js--subscribeForm,
.js--contactHeader,
.js--contactForm,
.js--bottomLogo {
  opacity: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s; }

.js--aggeliki.animated,
.js--aleksandros.animated,
.js--whatHeader.animated,
.js--mottoHeader.animated,
.js--galleryPhotos.animated,
.js--subscribeHeader.animated,
.js--subscribeForm.animated,
.js--contactHeader.animated,
.js--contactForm.animated,
.js--bottomLogo.animated {
  opacity: 1; }
