@font-face {
  font-family: PFAmateur;
  src: url(/resources/fonts/PFAMATE9.OTF); }

html {
  height: 100vh;
  overflow-x: hidden; }

body {
  font-family: "EB Garamond", sefif;
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100%;
}

@media (min-width: 1400px) {
  #nav-container {
    min-width: 1700px; } 
  
  .navbar-logo {
    left: 115px !important;
    width: 8% !important; 
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg) } }

.navbar {
  background: transparent;
  z-index: 100; }
  .navbar .navbar-logo {
    position: absolute;
    width: 18%;
    top: 20px;
    left: 270px; }
  .navbar .nav-item {
    font-size: 1.3rem;
    padding-right: 1.4rem; }
  .navbar .nav-link {
    font-family: "EB Garamond", serif;
    font-size: 1.4rem; }
  .navbar .brand-text {
    font-family: PFAmateur;
    font-size: 3rem; }
  .navbar .logo {
    width: 4.5rem;
    height: 4.5rem; }
  .nav-links-container {
    max-width: 1210px !important; }

#header {
  position: relative;
  min-height: 100vh; }
  #header h1 {
    font-family: PFAmateur; }

.single-char-header {
  width: 14% !important; }

.mb-resp {
  margin-bottom: 0.7rem; }

footer {
  grid-row-start: 10;
  grid-row-end: 11;
  font-family: PFAmateur;
  font-size: 1.2rem; }
  @media (min-width: 768px) {
    footer {
      font-size: 1.5rem; } }

 #return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 70px;
  height: 70px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 24px;
  top: 23px;
  font-size: 24px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
} 

.bg-primary {
  background-color: #e5e6e8 !important; }

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #caccd0 !important; }

.bg-secondary {
  background-color: #4c4b49 !important; }

.bg-light {
  background-color: #e2e1df !important; }

a.bg-light:hover, a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
  background-color: #cac8c4 !important; }

.bg-dark {
  background-color: #807f7d !important; }

a.bg-dark:hover, a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
  background-color: #666564 !important; }

.border-primary {
  border-color: #e5e6e8 !important; }

.border-secondary {
  border-color: #4c4b49 !important; }

.border-light {
  border-color: #e2e1df !important; }

.border-dark {
  border-color: #807f7d !important; }

.text-primary {
  color: #e5e6e8 !important; }

a.text-primary:hover, a.text-primary:focus {
  color: #bcbfc4 !important; }

.text-secondary {
  color: #4c4b49 !important; }

a.text-secondary:hover, a.text-secondary:focus {
  color: #252424 !important; }

.text-light {
  color: #e2e1df !important; }

a.text-light:hover, a.text-light:focus {
  color: #bebbb7 !important; }

.text-dark {
  color: #807f7d !important; }

a.text-dark:hover, a.text-dark:focus {
  color: #595957 !important; }

.text-body {
  color: #212529 !important; }

.text-muted {
  color: #6c757d !important; }

.btn-primary {
  color: #212529;
  background-color: #e5e6e8;
  border-color: #e5e6e8; }
  .btn-primary:hover {
    color: #212529;
    background-color: #d1d2d6;
    border-color: #caccd0; }
  .btn-primary:focus, .btn-primary.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(200, 201, 203, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(200, 201, 203, 0.5); }
  .btn-primary.disabled, .btn-primary:disabled {
    color: #212529;
    background-color: #e5e6e8;
    border-color: #e5e6e8; }
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
    color: #212529;
    background-color: #caccd0;
    border-color: #c3c5ca; }
    .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
    .show > .btn-primary.dropdown-toggle:focus {
      -webkit-box-shadow: 0 0 0 0.2rem rgba(200, 201, 203, 0.5);
      box-shadow: 0 0 0 0.2rem rgba(200, 201, 203, 0.5); }

.btn-secondary {
  color: #fff;
  background-color: #4c4b49;
  border-color: #4c4b49; }
  .btn-secondary:hover {
    color: #fff;
    background-color: #383836;
    border-color: #323130; }
  .btn-secondary:focus, .btn-secondary.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(103, 102, 100, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(103, 102, 100, 0.5); }
  .btn-secondary.disabled, .btn-secondary:disabled {
    color: #fff;
    background-color: #4c4b49;
    border-color: #4c4b49; }
  .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
  .show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #323130;
    border-color: #2b2b2a; }
    .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
    .show > .btn-secondary.dropdown-toggle:focus {
      -webkit-box-shadow: 0 0 0 0.2rem rgba(103, 102, 100, 0.5);
      box-shadow: 0 0 0 0.2rem rgba(103, 102, 100, 0.5); }

.btn-light {
  color: #212529;
  background-color: #e2e1df;
  border-color: #e2e1df; }
  .btn-light:hover {
    color: #212529;
    background-color: #d0cecb;
    border-color: #cac8c4; }
  .btn-light:focus, .btn-light.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(197, 197, 196, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(197, 197, 196, 0.5); }
  .btn-light.disabled, .btn-light:disabled {
    color: #212529;
    background-color: #e2e1df;
    border-color: #e2e1df; }
  .btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active,
  .show > .btn-light.dropdown-toggle {
    color: #212529;
    background-color: #cac8c4;
    border-color: #c4c2be; }
    .btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus,
    .show > .btn-light.dropdown-toggle:focus {
      -webkit-box-shadow: 0 0 0 0.2rem rgba(197, 197, 196, 0.5);
      box-shadow: 0 0 0 0.2rem rgba(197, 197, 196, 0.5); }

.btn-dark {
  color: #fff;
  background-color: #807f7d;
  border-color: #807f7d; }
  .btn-dark:hover {
    color: #fff;
    background-color: #6d6c6a;
    border-color: #666564; }
  .btn-dark:focus, .btn-dark.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(147, 146, 145, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(147, 146, 145, 0.5); }
  .btn-dark.disabled, .btn-dark:disabled {
    color: #fff;
    background-color: #807f7d;
    border-color: #807f7d; }
  .btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active,
  .show > .btn-dark.dropdown-toggle {
    color: #fff;
    background-color: #666564;
    border-color: #605f5e; }
    .btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus,
    .show > .btn-dark.dropdown-toggle:focus {
      -webkit-box-shadow: 0 0 0 0.2rem rgba(147, 146, 145, 0.5);
      box-shadow: 0 0 0 0.2rem rgba(147, 146, 145, 0.5); }

.btn-outline-primary {
  color: #e5e6e8;
  border-color: #e5e6e8; }
  .btn-outline-primary:hover {
    color: #212529;
    background-color: #e5e6e8;
    border-color: #e5e6e8; }
  .btn-outline-primary:focus, .btn-outline-primary.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(229, 230, 232, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(229, 230, 232, 0.5); }
  .btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #e5e6e8;
    background-color: transparent; }
  .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
  .show > .btn-outline-primary.dropdown-toggle {
    color: #212529;
    background-color: #e5e6e8;
    border-color: #e5e6e8; }
    .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-primary.dropdown-toggle:focus {
      -webkit-box-shadow: 0 0 0 0.2rem rgba(229, 230, 232, 0.5);
      box-shadow: 0 0 0 0.2rem rgba(229, 230, 232, 0.5); }

.btn-outline-secondary {
  color: #4c4b49;
  border-color: #4c4b49; }
  .btn-outline-secondary:hover {
    color: #fff;
    background-color: #4c4b49;
    border-color: #4c4b49; }
  .btn-outline-secondary:focus, .btn-outline-secondary.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(76, 75, 73, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(76, 75, 73, 0.5); }
  .btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
    color: #4c4b49;
    background-color: transparent; }
  .btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active,
  .show > .btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #4c4b49;
    border-color: #4c4b49; }
    .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-secondary.dropdown-toggle:focus {
      -webkit-box-shadow: 0 0 0 0.2rem rgba(76, 75, 73, 0.5);
      box-shadow: 0 0 0 0.2rem rgba(76, 75, 73, 0.5); }

.btn-outline-light {
  color: #e2e1df;
  border-color: #e2e1df; }
  .btn-outline-light:hover {
    color: #212529;
    background-color: #e2e1df;
    border-color: #e2e1df; }
  .btn-outline-light:focus, .btn-outline-light.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(226, 225, 223, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(226, 225, 223, 0.5); }
  .btn-outline-light.disabled, .btn-outline-light:disabled {
    color: #e2e1df;
    background-color: transparent; }
  .btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active,
  .show > .btn-outline-light.dropdown-toggle {
    color: #212529;
    background-color: #e2e1df;
    border-color: #e2e1df; }
    .btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn-outline-light:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-light.dropdown-toggle:focus {
      -webkit-box-shadow: 0 0 0 0.2rem rgba(226, 225, 223, 0.5);
      box-shadow: 0 0 0 0.2rem rgba(226, 225, 223, 0.5); }

.btn-outline-dark {
  color: #807f7d;
  border-color: #807f7d; }
  .btn-outline-dark:hover {
    color: #fff;
    background-color: #807f7d;
    border-color: #807f7d; }
  .btn-outline-dark:focus, .btn-outline-dark.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(128, 127, 125, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(128, 127, 125, 0.5); }
  .btn-outline-dark.disabled, .btn-outline-dark:disabled {
    color: #807f7d;
    background-color: transparent; }
  .btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active,
  .show > .btn-outline-dark.dropdown-toggle {
    color: #fff;
    background-color: #807f7d;
    border-color: #807f7d; }
    .btn-outline-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-dark:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-dark.dropdown-toggle:focus {
      -webkit-box-shadow: 0 0 0 0.2rem rgba(128, 127, 125, 0.5);
      box-shadow: 0 0 0 0.2rem rgba(128, 127, 125, 0.5); }

.badge-primary {
  color: #212529;
  background-color: #e5e6e8; }
  a.badge-primary:hover, a.badge-primary:focus {
    color: #212529;
    background-color: #caccd0; }
  a.badge-primary:focus, a.badge-primary.focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(229, 230, 232, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(229, 230, 232, 0.5); }

.badge-secondary {
  color: #fff;
  background-color: #4c4b49; }
  a.badge-secondary:hover, a.badge-secondary:focus {
    color: #fff;
    background-color: #323130; }
  a.badge-secondary:focus, a.badge-secondary.focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(76, 75, 73, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(76, 75, 73, 0.5); }

.badge-light {
  color: #212529;
  background-color: #e2e1df; }
  a.badge-light:hover, a.badge-light:focus {
    color: #212529;
    background-color: #cac8c4; }
  a.badge-light:focus, a.badge-light.focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(226, 225, 223, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(226, 225, 223, 0.5); }

.badge-dark {
  color: #fff;
  background-color: #807f7d; }
  a.badge-dark:hover, a.badge-dark:focus {
    color: #fff;
    background-color: #666564; }
  a.badge-dark:focus, a.badge-dark.focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(128, 127, 125, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(128, 127, 125, 0.5); }

.tooltip {
  font-family: "EB Garamond", serif; }

.popover {
  font-family: "EB Garamond", serif; }

.modal-dialog {
  max-width: 800px; }